

#-----------------
#creating a user
#-----------------

adduser <username>

# set a password to the user
passwd <username>

#-------------------
# to see the OS distribution and version
##
cat /etc/os-release

#--------------------
To list all available network interfaces in your system
##
ip link

#--------------------


#-----------------
To determine IP address of the system
ip address
OR
ip a
#-----------------
